API_URL="http://localhost:3000"

DATABASE_URL=""

ANTHROPIC_API_KEY=
OPENAI_API_KEY=
GOODLE_GENERATIVE_AI_API_KEY=

CLERK_FRONTEND_API="https://verified-ocelot-40.clerk.accounts.dev"
CLERK_OAUTH_CLIENT_SECRET="Q97maBi4NZwrIxjevERRfmMRY9NUlw3Z"
CLERK_OAUTH_CLIENT_ID="wh6Q6YG0lQqXTvHD"
JWT_SECRET=jwt-secret
CLERK_SECRET_KEY="sk_test_lCrytXVHZIjCrf301SfAjcHeDko3pqgXdVAGRDOdfk"
CLERK_PUBLISHABLE_KEY="pk_test_dmVyaWZpZWQtb2NlbG90LTQwLmNsZXJrLmFjY291bnRzLmRldiQ"